<h1> Welcome to the Login Page!</h1>

  <form action="/login" method="post">

    <label for="username">Username</label>
    <input id="username" type="text" name="theUsername"/>

    <label for="password">Password</label>
    <input id="password" type="password" name="thePassword"/>

    <button type="submit">Log in</button>
  </form>

{{#if errorMessage}}
<div class="error">
  {{errorMessage}}
</div>
{{/if}}

<h2>Show me Some Pokemon!</h2>
<input type="text" id="poke-input"/>
<button id="poke-button">Get the Pocket Monster!</button>
<div id="poke-info">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</div>
